.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.title h1 {
  color: #61dafb;
}

.profile-info {
  margin-bottom: 10px;
}

.profile-info label {
  font-size: 13px;
  color: #323234;
}

.profile-info label , .profile-info strong {
  display: block;
}

.content {
  width: 30%;
  text-align: left;
}